.colab{
    background-color: #0b132b;
    color: var(--primary-foreground);
    padding: 8rem 2rem;
    text-align: center;
    
}
.colab .title{
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
    
}
.colab .subtitle{
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin-bottom: 3rem;
}
.colab .button{
    border-color: blue;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
.colab .button:hover{
    background-color: blue;
    color: var(--foreground);
}